#main {
  width: 500px;
  margin: 10% auto;
  height: 500px;
  background: white;
}

.row {
  width: 100%;
  position: relative;
  display: flex;
  background: white;
}

.column {
  height: 100%;
  background: black;
}
