#main {
  width: 600px;
  margin: 10% auto;
  height: 600px;
  background: black;
}

.row {
  width: 100%;
  position: relative;
  display: flex;
  background: white;
}

.column {
  /*outline: #000000 solid 1px;*/
  height: 100%;
  background: black;
}

#neighbors {
  width: 100px;
  height: 100px;
}

.selectRow {
  display: flex;
  position: relative;
  height: 20%;
  width: 100%;
  background: rgb(158,158,158); /*whitesmoke*/
}

.selectColumn {
  outline: #FFFFFF solid 1px;
  height: 100%;
  width: 20%;
  background: rgb(158,158,158);
}

.selectColumn:hover {
  background: rgb(128,128,128)!important;
}

.center {
  outline: #FFFFFF solid 1px;
  height: 100%;
  width: 20%;
  background: rgb(60,60,60);
}
